.home {
    display: flex;
    height: 100%;
    
    .map {
        width: 50%;
        height: 100%;
    
        agm-map {
            height: 100%;
        }
    }

    .navigation {
        width: 50%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;

        > div {
            width: 33%;
        }
    }
}
